@model fa22Team16.Models.StockTransaction

@{
    ViewData["Title"] = "Purchase Stock";
}

<h1>Purchase Stock</h1>

<!--
Table of Stocks
[stock name] [stock ticker symbol] [type of stock] [current share price] [fess (if any)]

(will try to implement later, for now there is a button to redirect to the "Stock Index" Page)
-->
<div>
    <a asp-action="Index" asp-controller="Stock">Visit List of Stocks for Purchase</a><br />
</div>


<!--Balances of Your Accounts-->
<!--How do I do this-->
<!--
<h5>Account Balances</h5>
<table class="table table-primary">
    <tr>
        <th>Account Number</th>
        <th>Account Type</th>
        <th>Account Name</th>
        <th>Balance</th>
    </tr>
    foreach (BankAccount ba in Model.StockPortfolio.AppUser.BankAccounts)
    {
        <tr>
            <td>Html.DisplayFor(ModelItem => ba.AccountNumber)</td>
            <td>Html.DisplayFor(ModelItem => ba.AccountType)</td>
            <td>Html.DisplayFor(ModelItem => ba.AccountName)</td>
            <td>Html.DisplayFor(ModelItem => ba.Balance)</td>
        </tr>
    }
</table>
-->


<!--Stock Purchasing Form-->
<h5>Stock Purchasing Form</h5>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Select Stock</label>
                @Html.DropDownList("SelectedStock", (SelectList)ViewBag.AllStocks, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="NumberOfShares" class="control-label"></label>
                <input asp-for="NumberOfShares" class="form-control" />
                <span asp-validation-for="NumberOfShares" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WithdrawalAccount" class="control-label"></label><br />
                <input type="radio" class="radio" asp-for="WithdrawalAccount" value="1" /> Checking<br />
                <input type="radio" class="radio" asp-for="WithdrawalAccount" value="2" /> Savings<br />
                <input type="radio" class="radio" asp-for="WithdrawalAccount" value="3" /> Cash-Value of Portfolio<br />
            </div>

            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

