@model fa22Team16.Models.StockTransaction

@{
    ViewData["Title"] = "Purchase Stock";
}

<h1>Purchase Stock</h1>

<!--
Table of Stocks
[stock name] [stock ticker symbol] [type of stock] [current share price] [fess (if any)]

(will try to implement later, for now there is a button to redirect to the "Stock Index" Page)
-->
<div>
    <a asp-action="Index" asp-controller="Stock">Visit List of Stocks for Purchase</a>
</div>


<!--Balances of Your Accounts-->
<!--How do I do this-->
<h5>Account Balances</h5>
<table class="table table-sm table-bordered" style="width:50%">
    <tr>
        <th colspan="2" style="text-align:center">Order Summary</th>
    </tr>
    <tr>
        <td>Checking:</td>
        <td>@Html.DisplayFor(model => model.StockPortfolio.StockPortfolioID)</td>
    </tr>
    <tr>
        <td>Savings:</td>
        <td>@Html.DisplayFor(model => model.NumberOfShares)</td>
    </tr>
    <tr>
        <td>Cash-Value of Portfolio:</td>
        <td>@Html.DisplayFor(model => model.StockPortfolio)</td>
    </tr>

</table>


<!--Stock Purchasing Form-->
<h5>Stock Purchasing Form</h5>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Select Stock</label>
                @Html.DropDownList("SelectedStock", (SelectList)ViewBag.AllStocks, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="NumberOfShares" class="control-label"></label>
                <input asp-for="NumberOfShares" class="form-control" />
                <span asp-validation-for="NumberOfShares" class="text-danger"></span>
            </div>
            <!--
    <div class="form-group">
        <label asp-for="SelectedClass" class="control-label"></label><br />
        <input type="radio" class="radio" asp-for="SelectedClass" value="Classification.Freshman" /> Freshman<br />
        <input type="radio" class="radio" asp-for="SelectedClass" value="Classification.Sophomore" /> Sophomore<br />
        <input type="radio" class="radio" asp-for="SelectedClass" value="Classification.Junior" /> Junior<br />
        <input type="radio" class="radio" asp-for="SelectedClass" value="Classification.Senior" /> Senior<br />
    </div>
        -->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

