@model fa22Team16.Models.Dispute

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Dispute</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DisputeID" />
            <label asp-for="Status" class="control-label"></label><br />
            <input type="radio" class="radio" asp-for="Status" value="@Status.Submitted" checked="checked" /> Submitted<br />
            <input type="radio" class="radio" asp-for="Status" value="@Status.Accepted" /> Accepted<br />
            <input type="radio" class="radio" asp-for="Status" value="@Status.Rejected" /> Rejected<br />
            <input type="radio" class="radio" asp-for="Status" value="@Status.Adjusted" /> Adjusted<br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

