@model IEnumerable<fa22Team16.Models.StockPortfolio>

@{
    ViewData["Title"] = "Stock Portfolio";
}

<h1>Stock Portfolio</h1>

<h2>Portfolio Status:</h2>
<!--<h2>Html.DisplayFor(model => model.Status)</h2>
-->

<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StockPortfolioID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.StockPortfolioID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.StockPortfolioID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
